.home{
    top: 0px;
    left: 0px;    
    width: 1366px;
    height: 768px;
    background: #233740 0% 0% no-repeat padding-box;

    /* opacity: 0.08; */

}

.central{
    border: 1px solid red;
    width: 100px;
    height: 10px;
}