.home{
    top: 0px;
    left: 0px;    
    width: 1366px;
    height: 768px;
    background: #e6e7e8;

    /* opacity: 0.08; */

}

.central{
    width: 1164px;
    height: 580px;
    margin-left: 100px;
    margin-top: 58px;
    margin-right: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda{
    /* Layout Properties */
    border: 1px solid blue;
    width: 669px;
    height: 581px;
    margin-top: 58px;
    margin-left: 0px;
    margin-bottom: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #0000000F;
    border-radius: 4px;
    opacity: 1;
}

.esquerdaCima{
    border: 1px solid black;
    width: 669px;
    height: 102px;
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esquerdaCimaEsquerda{
    display: flex; 
    align-items:start;   
}

.cidadeData{
    display: block;
}

.localizador{
    margin-right: 5px;
    padding: 5px;
}

.cidade {
    text-align: left;
    font: normal normal bold 26px/31px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1;
}

.data{
    text-align: left;
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1;
}

.esquerdaCimaDireita{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minima{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.min{
    margin-left: 5px;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1;
}

.min2{
    margin-right: 10px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1; 
}

.maxima{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max{
    margin-left: 5px;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1;
}
.max2{
    margin-right: 37px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #4B6584;
    opacity: 1;
}

.esquerdaMeio{
    border: 1px solid black;
    width: 669px;
    height: 193px;
    margin-bottom: 48px;
}

.esquerdaMeioEsquerda{
    border: 1px solid blue;
}

.sensacaoTerm{
    border: 10px solid red;
}

.esquerdaBaixo{
    border: 1px solid black;
    width: 669px;
    height: 163px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.direita{
    border: 10x solid green;
    width: 471px;
    height: 581px;
    margin-left: 1px;
    margin-bottom: 5px;
}