.externa{
    top: 128px;
    left: 793px;
    width: 471px;
    height: 97px;
    margin-left: 15px;
    background: transparent linear-gradient(90deg, #45AAF2 0%, #3867D6 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000000F;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data{

    
}

.data ul{
    list-style: none;
    height: 97px;
    margin-left: 19px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.dia{
    top: 156px;
    left: 812px;
    width: 95px;
    height: 30px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.dia2{
    top: 182px;
    left: 812px;
    width: 90px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tempo{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.imgEnsolarado{
    top: 154px;
    left: 933px;
    width: 47px;
    height: 47px;
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.imgTempestade{

}

.imgChuvoso{

}

.imgNublado{
    
}

.ensolarado{
    top: 168px;
    margin-top: 13px;
    margin-left: 5px;
    left: 991px;
    width: 90px;
    height: 29px;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
        
}

.temperatura{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.temperaturaCima{
    width: 90px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgMin{
    top: 141px;
    left: 1137px;
    width: 11px;
    height: 27px;
    margin-right: 9.79px;
}

.min{
    top: 147px;
    left: 1158px;
    width: 32px;
    height: 17px;
    text-align: left;
    font: normal normal bold 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.minNumero{
    top: 145px;
    left: 1195px;
    width: 39px;
    height: 19px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.temperaturaBaixo{
    width: 90px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desMaximo{
    border: 1px solid red;
    top: 182px;
    left: 1136px;
    width: 11px;
    height: 26px;
    margin-right: 9.79px;
    margin-top: 11.2px;
}

.max{
    top: 186px;
    left: 1158px;
    width: 32px;
    height: 17px;
    text-align: left;
    font: normal normal bold 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.maxNumero{
    top: 183px;
    left: 1195px;
    width: 39px;
    height: 20px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
