.externa{
    margin-top: 0px;
    margin-left: 0px;
    width: 471px;
    height: 99px;
    margin-left: 15px;
    margin-bottom: 21px;
    background: transparent linear-gradient(90deg, #45AAF2 0%, #3867D6 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000000F;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data{
    margin-left: 0px;
    width: 130px;
}

.data ul{
    list-style: none;
    height: 97px;
    margin-left: 19px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.dia{
    margin-top: 28px;
    width: 95px;
    height: 30px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.dia2{
    width: 90px;
    height: 29px;
    margin-bottom: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tempo{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.ensolarado{
    margin-top: 13px;
    margin-left: 5px;
    width: 90px;
    height: 29px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: left;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
        
}

.temperatura{
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.temperaturaCima{
    width: 90px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgMin{
  
}

.min{
    width: 32px;
    height: 17px;
    margin-left: 10px;
    text-align: left;
    font: normal normal bold 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.minNumero{
    width: 39px;
    height: 19px;
    margin-left: 5px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.temperaturaBaixo{
    width: 90px;
    margin-right: 30px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgMaximo{
    
}

.max{
    width: 32px;
    height: 17px;
    margin-left: 10px;
    text-align: left;
    font: normal normal bold 12px/14px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.maxNumero{
    margin-left: 5px;
    width: 39px;
    height: 20px;
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
