.header{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 70px;
    background: #2BCBBA 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.divUl{
    list-style: none;
    margin-left: 50px;
    width: 32px;
    height: 32px;
}

.input{
    border: 1px solid red;
    margin-right: 60px;
    width: 273px;
    height: 32px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.divInput{
    border: 2px solid black;
}